
* {
  font-family: Poppins;
  color: #373535;
  box-sizing: border-box;
}

/* ---------------------------------------------
                  NAV BAR
--------------------------------------------- */

.navbar-cont{
  display: flex;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 3;
}

.navbar {
  font-size: 1.7rem;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
}
.navbar a{
  text-decoration: none;
  display: flex;       
  align-items: center;
  text-decoration: none;
  transition: color 0.3s ease, font-weight 0.1s linear;
}

.navbar a:hover {
  color: #D0D37B;
  font-weight: bold;
}

.logopic {
  width: 12.5rem;
  padding-bottom: 0;
  transition: transform 0.3s ease-in-out;
}

.logopic:hover {
   transform: scale(1.1);
}

.navbar-pfp {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
}

.navbar-pfp .pfp {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease;
}

.navbar-pfp .black {
  opacity: 1;
}

.navbar-pfp .green {
  opacity: 0;
}

.navbar-pfp:hover .black {
  opacity: 0;
}

.navbar-pfp:hover .green {
  opacity: 1;
}

/* STAYS GREEN ON ACTIVE FOR PROFILE */

.navbar-pfp .green {
  opacity: 0;
}

.navbar-pfp:hover .green,
.navbar-pfp.active .green {
  opacity: 1;
}

.navbar-pfp:hover .black,
.navbar-pfp.active .black {
  opacity: 0;
}

/* ---------------------------------------------
                  SEARCH BAR
--------------------------------------------- */
.searchbar-cont {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 3rem;
  padding-top: 3rem;
}

.searchbar-form {
  display: flex;
  width: 100%;
  max-width: 900px;
  padding-bottom: 1rem;
  margin-top: 1rem;
  margin-left: 2rem;
  margin-right: 3rem;
}

.searchbar-form input {
  flex: 1; 
  font-size: 1.5rem;
  padding-left: 1rem;
  padding-top: .25rem;
  padding-bottom: .25rem;

  margin-right: .5rem;

  border-radius: 24px;
  border: solid #373535 2.5px;
  box-shadow:0 2px 6px rgba(0, 0, 0, 0.2);
}

.searchbar-form button {
  border-radius: 24px;
  border: solid #373535 2.5px;

  padding-left: 1rem;
  padding-right: 1rem;

  background-color: white;
  box-shadow:0 2px 6px rgba(0, 0, 0, 0.2);

  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

.searchbar-form button:hover {
  background-color: #D0D37B;
  color: white;
  transform: scale(1.1);
  cursor: pointer;
}

/* ---------------------------------------------
                  HOME USER CARD PAGE
--------------------------------------------- */
.userCard-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.userCard {
  background-color: #CCBDF4;
  width: 350px;
  height: 350px;
  flex-direction: column;
}

.userCard-top {
  display: flex;
  background-color: blue;
}

.userCard-bio{
  background-color: green;
}

.userImage-cont {
  width: 100px;
  height: 100px;
}

.userImage-cont img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}


/* ---------------------------------------------
                  HOME PAGE
--------------------------------------------- */
